{% extends 'base/authed.html' %}

{% block title %}Search Book{% endblock %}

{% block header_display %}

{% include 'base/header.html' with authed=True active='book_search' %}

{% endblock %}

{% block content %}
<main class="search-container" role="main">
    
    <!-- Control Bar Section -->
    <section class="control-bar" role="search" aria-label="Book search controls">
        <form class="search-input-container" id="searchForm">
            <input type="search" 
                   class="search-input" 
                   name="q"
                   placeholder="Search by title or author..." 
                   aria-label="Search books"
                   role="searchbox"
                   value="{{ search_query }}">
            <button type="submit" class="start-search" aria-label="Start search">Search</button>
        </form>
    </section>

    <!-- Books Grid Section -->
     {% include 'authed/searchbook/cards.html' with books=books only %}
</main>
{% endblock %}