{% extends 'base/main.html' %}

{% block title %}
USERS
{% endblock title %}

{% block content %}
<h1>All Users</h1>

<ul>
    {% for user in users %}
        <li>
            <strong>Fullname:</strong> {{ user.fullname }}<br>
            <strong>Username:</strong> {{ user.username }}<br>
            <strong>Email:</strong> {{ user.email }}<br>
            <strong>Password (hashed):</strong> {{ user.password }}
        </li>
        <hr>
    {% empty %}
        <li>No users found.</li>
    {% endfor %}
</ul>
{% endblock content %}
